/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

body {
    height: 100vh;
    margin: auto;
    color: #707070
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-10 > .col {
    padding: 10px;
}
.gap-20 > .col {
    padding: 20px;
}
.gap-30 > .col {
    padding: 30px;
}

.grow {
    flex-grow: 1;
}

.main-page {
    height: calc(100% - 90px);
    background-color: #141922;
    display: flex;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Poppins", sans-serif;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    /* border: none; */
    font-family: inherit;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    color: #fff;
    border-color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 10px 24px;
    text-transform: uppercase;
}

/*----------------
    HEADER
------------------*/

header {
    background-color: #000;
    width: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

header .logo-small {
    padding: 8px;
}

header .nav-icons {
    padding: 5px 10px; 
}

.nav-icons:hover  {
    cursor: pointer;
}

.nav-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#download {
    width: 20px;
}

.download {
    margin-bottom: 20px;
}

#profile {
    width: 30px;
    background-color: #808080;
    border-radius: 50%;
}

/*--------------------------
    HEADER DISPLAY NONE
---------------------------*/

header::-webkit-scrollbar,
header .logo-big,
.name-icon,
.nav-bot .download-app,
.nav-bot .name-profile,
.nav-playlist,
hr {
    display: none;
}

/*----------------
    MAIN
------------------*/
main {
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
}

.upgrade-nav {
    background-color: rgba(0, 0, 0, 0.7);
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

/* NAVBAR SELECTION CATEGORIES*/
.nav-categories {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.nav-categories ul {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-categories ul li:hover{
    border-bottom: 2px solid #adff2f;
    border-bottom: 50%;
    cursor: pointer;
}
 /* RECENTLY PLAYED SECTION */
.recently-played,
.create-for-you,
.popular-artist {
    padding: 25px;
}

.recently-played h2 {
    margin-bottom: 25px;
    padding-left: 5px;
    color: #fff;
}

.create-for-you h2,
.album-name > h3 {
    color: #fff;
}

.create-for-you h2,
.create-for-you > p {
    margin-bottom: 5px;
    padding-left: 5px;
}

.row {
    width: 100%;
}

.recently-played .row .col,
.create-for-you .row .col,
.popular-artist .row .col {
    width: 50%;
    padding: 10px 5px;
}

.recently-played .album,
.create-for-you .album,
.popular-artist .album {
    position: relative;
    display: block;
}

.overlay-album {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}

.overlay-album:hover {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    color: #fff;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album:hover {
    cursor: pointer;
}

.popular-artist .album{
    border-radius: 50%;
}

.popular-artist .overlay-album {
    border-radius: 50%;
}

/*----------------
    FOOTER
------------------*/
footer {
    height: 90px;
    background-color: #282828;
    position: sticky;
    z-index: 69;
}

/*----------------
    RESPONSIVE
    Mobile First
------------------*/
/* SM >= 576px */
@media screen and (min-width: 576px) {
}

/* MD >= 640px */
@media screen and (min-width: 640px) {
    header {
        width: 230px;
        flex-shrink: 0;
        align-items: flex-start;
    }
    header .logo-big {
        display: block;
        padding: 15px 50px 15px 10px;
        margin-bottom: 20px;
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #000;
    }
    header .logo-small {
        display: none;
    }

    /* RESPONSIVE NAVBAR (HOME, LIBRARY, SEARCH) */
    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-bar .nav-icons {
        display: flex;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 0px;
    }
    .nav-icons:hover {
        border-left: 3px solid #adff2f;
    }
    .nav-bar .nav-icons img {
        width: 35px;
    }
    .name-icon {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        height: 100%;
        line-height: 40px;
        padding-left: 10px;
        color: #707070;
    }
    .name-icon:hover  {
        color: #fff;
    }

    /* RESPONSIVE PLAYLIST */
    .nav-playlist {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 15px;
        margin: 30px 0;
    }
    .create-playlist {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .nav-playlist h2 {
        text-transform: uppercase;
        margin: 10px 0;
        font-size: 18px;
    }
    .nav-playlist ul {
        list-style: none;
        line-height: 2.5;
        font-weight: 600;
        overflow-y: auto;
        height: 200px;
    }
    .nav-playlist ul::-webkit-scrollbar {
        display: none;
    }
    .nav-playlist ul li {
        color: #707070;
    }
    .nav-playlist .plus-icon{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #808080;
        margin-right: 15px;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        color: #000;
        font-weight: 700;
    }

    /* RESPONSIVE NAV BOTTOM (DOWNLOAD AND PROFILE) */
    .nav-bot {
        background-color: #000;
        width: 100%;
        align-items: flex-start;
        z-index: 100;
        position: sticky;
        bottom: 0;
        left: 0;
    }
    .profile,
    .download {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    .nav-bot .download-app {
        display: inline;
        color: #707070;
        font-weight: 600;
        margin-left: 10px;
        font-size: 14px;
    }
    hr {
        display: block;
        width: 100%;
        margin: 20px 0;
        border-color: #707070;
    }
    .nav-bot .name-profile {
        display: inline;
        color: #fff;
        font-weight: 600;
        margin-left: 10px;
    }

    /* RESPONSIVE RECENTLY PLAYED */
    .recently-played .row .col,
    .create-for-you .row .col,
    .popular-artist .row .col {
        width: calc(100% / 4);
    }
}
/* LG >= 880px */
@media screen and (min-width: 880px) {
    /* RESPONSIVE RECENTLY PLAYED */
      
    .recently-played .row .col,
    .create-for-you .row .col,
    .popular-artist .row .col {
        width: calc(100% / 6);
    }
    
}
/* XL >= 1400px */
@media screen and (min-width: 1400px) {
    
}