/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

body {
    height: 100vh;
    margin: auto;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-10 > .col {
    padding: 10px;
}
.gap-20 > .col {
    padding: 20px;
}
.gap-30 > .col {
    padding: 30px;
}

.grow {
    flex-grow: 1;
}

.main-page {
    height: calc(100% - 90px);
    background-color: #141922;
    display: flex;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Roboto", serif;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    /* border: none; */
    font-family: inherit;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    color: #fff;
    border-color: #fff;
    border-radius: 30px;
    padding: 10px 24px;
    text-transform: uppercase;
}

/*----------------
    HEADER
------------------*/

header {
    background-color: #000;
    width: 50px;
    flex-shrink: 0;
}

/*----------------
    MAIN
------------------*/
main {
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
    color: white;

}

.upgrade-nav {
    background-color: #080b12;
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
/*----------------
    FOOTER
------------------*/
footer {
    height: 90px;
    background-color: #282828;
}

/*----------------
    RESPONSIVE
    Mobile First
------------------*/
/* SM >= 576px */
@media screen and (min-width: 576px) {
}

/* MD >= 640px */
@media screen and (min-width: 640px) {
    header {
        width: 230px;
        flex-shrink: 0;
    }
}
/* LG >= 880px */
@media screen and (min-width: 880px) {
    
    
}
/* XL >= 1400px */
@media screen and (min-width: 1400px) {
    
}